In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
place=[]
area=[]
building=[]
bedroom=[]
bath=[]
price=[]

In [72]:
def scrap_aqarmap(build,num):
    url=f'https://aqarmap.com.eg/en/for-sale/{build}/?page={num}'
    response=requests.get(url)
    apartments=BeautifulSoup(response.text,'html.parser')
    big_div=apartments.find_all('div',{'class':'small-card search-Result-Card col-lg-6 col-md-6 col-sm-12 col-xs-12'})
    for item in big_div:
        try:
            place.append(item.find('p',{'class':'card-details-address'}).text.strip(f'\n'))
        except:
            place.append(None)
        try:
            building.append(item.find_all('label')[0].text.strip(f'\n'))
        except:
            building.append(None)
        try:
            area.append(float(item.find_all('label')[1].text.strip(f'\n,M²')))
        except:
            area.append(None)
        try:
            bedroom.append(int(item.find_all('label')[2].text.strip(f'\n, Bedrooms')))
        except:
            bedroom.append(None)
        try:
            bath.append(int(item.find_all('label')[3].text.strip(f'\n, Baths')))
        except:
            bath.append(None)
        try:
            price.append(int(item.find('div',{'class':'price-container mb-4'}).span.text.replace(',','')))
        except:
            price.append(None)
    return

In [73]:
for i in range(1,21):
    scrap_aqarmap('apartment',i)

In [74]:
print(len(place))
print(len(area))
print(len(building))
print(len(bedroom))
print(len(bath))

598
598
598
598
598

In [75]:
data={'place':place,'area':area,'building':building,'bedroom':bedroom,'bath':bath,'price':price}

In [76]:
apartments_df=pd.DataFrame(data)

In [77]:
apartments_df.head()

,place,area,building,bedroom,bath,price
0,"الحي الأول, بيت الوطن",115.0,Roof,2.0,2.0,718750
1,New Administrative Capital,156.0,Apartments,3.0,3.0,1860000
2,Mostakbal City,83.0,Duplex,1.0,1.0,1490110
3,Mostakbal City,73.0,Apartments,2.0,3.0,1299855
4,التجمع الخامس بيت الوطن الحي التاني,172.0,Apartments,3.0,2.0,1330000